<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap"
      rel="stylesheet"
    />
    <style>
      a {
        text-decoration: none;
        color: inherit;
      }
      .container {
        position: absolute;
        top: 50%;
        left: 50%;
        position: "absolute";
        transform: translate(-50%, -50%);
        font-family: "Roboto", sans-serif;
      }
    </style>
    <title>Activation Email</title>
  </head>
  <body>
    <div class="container">
      <div style="display: flex; align-items: center;">
        <a href="#"> <img src="{% static 'logo.png' %}" alt="" style="width: 50px" /></a
        ><a href="#"
          ><h1 style="font-size: 40px">
            Legal<span style="color: #e51c25; font-weight: 400">Find</span>
          </h1></a
        >
      </div>
      <p>Hi {{ name }},</p>
      <p>
        You are receiving this mail because you signed up for an account on
        Higher Heights School
      </p>
      <p>Kindly click the button below to activate your account</p>
      <a href={{ activation_link }}
        ><button
          style="
            width: 150px;
            height: 60px;
            background-color: #e51c25;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 10px;
            font-size: 20px;
          "
        >
          Activate
        </button></a
      >
      <p>
        If you are not aware of this sign up request, please disregard this
        email.
      </p>
      <p>
        Contact us on
        <a href="#" style="color: #4192e3">support.higherheights.com</a> for more
        information
      </p>
    </div>
  </body>
</html>