<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<html lang="en">
  <head>
    {% load static %}
    <title>Password Reset Email</title>
  </head>

  <body style="background-color: #f6f9fc; padding: 10px 0">
    <table
      align="center"
      role="presentation"
      cellspacing="0"
      cellpadding="0"
      border="0"
      width="100%"
      style="
        max-width: 37.5em;
        background-color: #ffffff;
        border: 1px solid #f0f0f0;
        padding: 45px;
      "
    >
      <tr style="width: 100%">
        <td>
          <img
            alt="DataKirkLogo"
            src="https://datakirk.s3.eu-west-1.amazonaws.com/DataKirkLogo.webp"
            width="80"
            height="80"
            style="
              display: block;
              outline: none;
              border: none;
              text-decoration: none;
            "
          />
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
            width="100%"
            style="margin-left: 10px"
          >
            <tbody>
              <tr>
                <td>
                  <p
                    style="
                      font-size: 16px;
                      line-height: 26px;
                      margin: 16px 0;
                      font-family: Open Sans, HelveticaNeue-Light,
                        Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
                        Lucida Grande, sans-serif;
                      font-weight: 300;
                      color: #404040;
                    "
                  >
                    Hi {{name}}
                  </p>
                  <p
                    style="
                      font-size: 16px;
                      line-height: 26px;
                      margin: 16px 0;
                      font-family: Open Sans, HelveticaNeue-Light,
                        Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
                        Lucida Grande, sans-serif;
                      font-weight: 300;
                      color: #404040;
                    "
                  >
                  You are receiving this mail because you requested for a password reset for your account on DataKirk
                </p>
                <p>Kindly click the button below to reset your password</p>
                  <a
                    href={{ password_reset_link }}
                    target="_blank"
                    style="
                      background-color: #fc7b1f;
                      border-radius: 4px;
                      color: #fff;
                      font-family: Open Sans, Helvetica Neue, Arial;
                      font-size: 15px;
                      text-decoration: none;
                      text-align: center;
                      display: inline-block;
                      width: 210px;
                      padding: 0px 0px;
                      line-height: 100%;
                      max-width: 100%;
                    "
                    ><span></span
                    ><span
                      style="
                        background-color: #fc7b1f;
                        border-radius: 4px;
                        color: #fff;
                        font-family: Open Sans, Helvetica Neue, Arial;
                        font-size: 15px;
                        text-decoration: none;
                        text-align: center;
                        display: inline-block;
                        width: 210px;
                        padding: 14px 7px;
                        max-width: 100%;
                        line-height: 120%;
                        text-transform: none;
                      "
                      >Reset Your Password</span
                    ></a
                  >
                  <p
                    style="
                      font-size: 16px;
                      line-height: 26px;
                      margin: 16px 0;
                      font-family: Open Sans, HelveticaNeue-Light,
                        Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
                        Lucida Grande, sans-serif;
                      font-weight: 300;
                      color: #404040;
                    "
                  >
                  If you are not aware of this request, please disregard this
                  email.
                  </p>
                  <p
                    style="
                      font-size: 16px;
                      line-height: 26px;
                      margin: 16px 0;
                      font-family: Open Sans, HelveticaNeue-Light,
                        Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
                        Lucida Grande, sans-serif;
                      font-weight: 300;
                      color: #404040;
                    "
                  >
                    To keep your account secure, please do not forward this email
                    to anyone. See our Help Center for
                    <a
                      target="_blank"
                      style="color: #fc7b1f; text-decoration: underline"
                      href="#"
                      >more security tips.</a
                    >
                  </p>
                  <p
                    style="
                      font-size: 16px;
                      line-height: 26px;
                      margin: 16px 0;
                      font-family: Open Sans, HelveticaNeue-Light,
                        Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
                        Lucida Grande, sans-serif;
                      font-weight: 300;
                      color: #404040;
                    "
                  >
                  Contact us on
                  <a href="#" style="color: #4192e3">support@thedatakirk.com</a> for more
                  information
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
